/* display flex  so by default everything goes in the same line */


/* the navigation bar should be sticked to the top for that sticky and top=0 and z-index=999 is there*/

.header {
    display: flex;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    z-index: 999;
    background-color: white;
}

.header__left {
    display: flex;
}


/* styles applied only to img element that is direct child of .header_left */

.header__left>img {
    object-fit: contain;
    height: 45px;
    margin-right: 8px;
    margin-left: 50px;
}

.header__search {
    width: 300px;
    padding: 8px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    color: gray;
    background-color: #eef3f8;
}

.header__search>input {
    outline: none;
    border: none;
    background: none;
}

.header__right {
    display: flex;
    justify-items: center;
}